{% extends 'layouts/base.html' %}

{% block content %}

<div class="card border-0 shadow-sm">

    <div class="card-body text-center p-5">

        <h2 class="text-danger fw-bold mb-3">

            Delete Department

        </h2>

        <p>

            Are you sure you want to delete

            <strong>
                {{ department.name }}
            </strong> ?

        </p>

        <form method="POST">

            {% csrf_token %}

            <button type="submit"
                    class="btn btn-danger">

                Confirm Delete

            </button>

            <a href="{% url 'department_list' %}"
               class="btn btn-secondary">

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}